<nav class="site-nav">
    <div class="site-nav__inner">
        <a class="site-nav__brand" href="/">Anime Web Scrape</a>
        <div class="site-nav__links">
            <a href="/">Home</a>
            <a href="/scrape">Scrape</a>
            <a href="/shows">Saved Shows</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </div>
</nav>
